/*! 
 * site styling
*/
:root {
    --colour-dark: hsl(0, 0%, 30%);
    --colour-high: hsl(120, 30%, 70%);
    --border-rad-large: .7rem;
    --gap-med: .5rem;
}
html, body {
    color: var(--colour-dark);
    font-family: 'Montserrat', sans-serif;
}
button {
    border: 2px solid var(--colour-dark);
    border-radius: var(--border-rad-large) !important;
    cursor: pointer;
    font-size: inherit;
    padding: var(--gap-med);
}
    button:active, button:hover {
        background-color: var(--colour-high);
    }
h1, h2 {
    margin: var(--gap-med) 0;
}
ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
li {
    margin: var(--gap-med);
}